Repository monstertau/money-thrower, pull requests merged in 2021-12, with the labels that each got.

#117 Improve Wallet Balance Calculation
  money-core/controller/wallet.go
  money-core/docs/docs.go
  money-core/docs/swagger.json
  money-core/docs/swagger.yaml
  money-core/repository/wallet.go
  money-core/service/wallet.go
  money-core/validator/wallet.go
  money-core/view/transaction.go
  money-core/view/wallet.go
Labels: enhancement, back-end, epic: wallet-management

#143 Feature/report page base code
  money-web/package-lock.json
  money-web/package.json
  money-web/src/app/app-routing.module.ts
  money-web/src/app/authentication/change-pass/change-pass.component.ts
  money-web/src/app/components/components.module.ts
  money-web/src/app/components/date-select/date-select.component.css
  money-web/src/app/components/date-select/date-select.component.html
  money-web/src/app/components/date-select/date-select.component.spec.ts
  money-web/src/app/components/date-select/date-select.component.ts
  money-web/src/app/components/input-date/input-date.component.html
  money-web/src/app/components/input-date/input-date.component.ts
  money-web/src/app/components/stacked-bar-chart/data.ts
  money-web/src/app/components/stacked-bar-chart/stacked-bar-chart.component.css
  money-web/src/app/components/stacked-bar-chart/stacked-bar-chart.component.html
  money-web/src/app/components/stacked-bar-chart/stacked-bar-chart.component.spec.ts
  money-web/src/app/components/stacked-bar-chart/stacked-bar-chart.component.ts
  money-web/src/app/components/transaction-history-popup/transaction-history-popup.component.css
  money-web/src/app/components/transaction-history-popup/transaction-history-popup.component.html
  money-web/src/app/components/transaction-history-popup/transaction-history-popup.component.spec.ts
  money-web/src/app/components/transaction-history-popup/transaction-history-popup.component.ts
  money-web/src/app/home/home.module.ts
  money-web/src/app/home/sidebar/sidebar.component.html
  money-web/src/app/home/topbar/topbar-report/topbar-report.component.css
  money-web/src/app/home/topbar/topbar-report/topbar-report.component.html
  money-web/src/app/home/topbar/topbar-report/topbar-report.component.spec.ts
  money-web/src/app/home/topbar/topbar-report/topbar-report.component.ts
  money-web/src/app/home/topbar/topbar.component.html
  money-web/src/app/report/report-detail/report-detail.component.css
  money-web/src/app/report/report-detail/report-detail.component.html
  money-web/src/app/report/report-detail/report-detail.component.spec.ts
  money-web/src/app/report/report-detail/report-detail.component.ts
  money-web/src/app/report/report.component.css
  money-web/src/app/report/report.component.html
  money-web/src/app/report/report.component.spec.ts
  money-web/src/app/report/report.component.ts
  money-web/src/app/report/report.module.ts
  money-web/src/app/services/common.service.ts
  money-web/src/app/services/wallet.service.ts
  money-web/src/app/transaction-add/transaction-add.component.html
  money-web/src/app/transaction/transaction-list/transaction-list.component.html
  money-web/src/app/transaction/transaction.component.css
  money-web/src/app/transaction/transaction.module.ts
  money-web/src/app/util/constant.ts
  money-web/src/app/util/utils.ts
  money-web/src/app/view-model/data-range.ts
  money-web/src/styles.css
Labels: front-end, interface, integration, epic: transaction-report

#146 support wallet balance negative
  money-web/src/app/components/input-number/input-number.component.ts
  money-web/src/app/components/stacked-bar-chart/stacked-bar-chart.component.html
  money-web/src/app/components/stacked-bar-chart/stacked-bar-chart.component.ts
  money-web/src/app/report/report.component.ts
  money-web/src/app/services/transaction.service.ts
  money-web/src/app/transaction-add/transaction-add.module.ts
  money-web/src/app/transaction/transaction-detail/transaction-detail.component.html
  money-web/src/app/transaction/transaction-detail/transaction-detail.component.ts
  money-web/src/app/transaction/transaction.module.ts
  money-web/src/app/view-model/transactions.ts
  money-web/src/app/wallet-add/wallet-add.component.html
  money-web/src/app/wallet/wallet.component.ts
Labels: bug, front-end, epic: wallet-management

#147 fix wallet balance error
  money-core/service/wallet.go
  money-core/validator/wallet.go
Labels: bug, back-end

#92 Feature/api/budget/read delete
  money-core/controller/budget.go
  money-core/docs/docs.go
  money-core/docs/swagger.json
  money-core/docs/swagger.yaml
  money-core/main.go
  money-core/model/budget.go
  money-core/repository/budget.go
  money-core/repository/repository.go
  money-core/service/budget.go
  money-core/service/service.go
  money-core/view/budget.go
Labels: back-end, new-api, epic: budget-management
